<!DOCTYPE html>
<html lang ="en">
<head>
	<title>NEWS FEED-ENGROW ASSESSMENT</title>
</head>
<body>
	<h1>Hello ENGRO, here is your personalise news update from HACKERS_NEWS (top stories)</h1>
	<a href="https://engro.io/">company website</a>
	<h2>{{title1}}</h2>
	<a href="{{url1}}">click to read more</a>
	<h2>{{title2}}</h2>
	<a href="{{url2}}">click to read more</a>
	<h2>{{title3}}</h2>
	<a href="{{url3}}">click to read more</a>
	<h2>{{title4}}</h2>
	<a href="{{url4}}">click to read more</a>
	<h2>{{title5}}</h2>
	<a href="{{url5}}">click to read more</a>
	<h2>{{title6}}</h2>
	<a href="{{url6}}">click to read more</a>
	<h2>{{title7}}</h2>
	<a href="{{url7}}">click to read more</a>
	<h2>{{title8}}</h2>
	<a href="{{url8}}">click to read more</a>
	<h2>{{title9}}</h2>
	<a href="{{url9}}">click to read more</a>
	<h2>{{title10}}</h2>
	<a href="{{url10}}">click to read more</a>
	
	

</body>
</html>